---
layout: gallery
---

<dialog open class="u-flex-column">
	<section class="gallery-item">
		<header class="gallery-item__header u-flex-row">
			<a href="/gallery" id="go-back" class="gallery-item__back-link">
				X
			</a>
		</header>
		<div class="gallery-item__content">
			<div></div>
			<div>
				{{ content }}
			</div>
			<div></div>
		</div>
	</section>
</dialog>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		const hash = window.location.hash;
		if (hash) {
			const goBackLink = document.getElementById('go-back');
			goBackLink.href = '/gallery' + hash;
		}

		const body = document.body;
		if (body) {
			body.style.overflow = 'hidden';
		}
	});
</script>
