/*
* Main elements & Variables
 * *************************/

@font-face {
    font-family: "Paper Flowers";
    src: url("fonts/Paper Flowers.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Shantell Sans";
    src: url("fonts/ShantellSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

html {
    --font-family-base: "Shantell Sans", sans-serif;
    --font-family-heading: "Paper Flowers", cursive;
    --font-size-base: 10px;
    --background-color: #ebebeb;
    --border-color: #3c3c3c;
    --text-color-primary: #3c3c3c;
    --text-color-secondary: #98979a;

    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    background-color: var(--background-color);
}

body {
    min-height: 100dvh;
    background-color: var(--background-color);
    padding: 0 2rem 4rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    font-weight: bold;
    font-size: calc(var(--font-size-base) * 3);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: calc(var(--font-size-base) * 5);
}
h2 {
    font-size: calc(var(--font-size-base) * 4.5);
}
h3 {
    font-size: calc(var(--font-size-base) * 2);
}
h4 {
    font-size: calc(var(--font-size-base) * 1.5);
}
h5 {
    font-size: calc(var(--font-size-base) * 1);
}
h6 {
    font-size: calc(var(--font-size-base) * 1);
}

/*
* Header & Navigation
* *******************/

.header {
    padding: 1rem;
    border-bottom: 0.2rem solid var(--border-color);
}

.header__nav {
    height: 10rem;
}

.header__nav img {
    display: block;
    height: 100%;
}

.header__nav ul {
    gap: 2rem;
}

.header__link {
    font-weight: bold;
    color: var(--text-color--primary);
}

.header__link span {
    font-size: 2.6rem;
    line-height: 1;
}

.header__link .es {
    font-size: 2.9rem;
}

.header__link .en {
    color: var(--text-color-secondary);
}

/*
* Home page
* *********/

/* Home > Top: New Art Section */

.home__new-art {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 6rem 0;
    margin: 0;
}

.home__new-art li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.home__new-art li:nth-child(1) {
    grid-column: 1 / span 2;
}

.home__new_art li:nth-child(2) {
    grid-column: 3;
}

.home__new-art li:nth-child(3) {
    grid-column: 4;
}

.home__gallery_link {
    display: block;
    transition: transform 0.2s ease;
}

.home__gallery_link:hover {
    transform: scale(1.02);
}

/* Home > Middle: Animation and Comics Section */

.home__animation_video {
    width: 100%;
    max-width: 60%;
    height: auto;
    display: block;
    padding-right: 2rem;
}

.home__animation_comics {
    grid-column: 2;
}

.home__comics_title {
    font-family: var(--font-family-heading);
    font-size: 10rem;
    line-height: 0.8;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.home__animation_comics_title .es {
    color: var(--text-color-primary);
}
.home__animation_comics_title .en {
    color: var(--text-color-secondary);
}

/* Carousel of images */

.carousel {
	display: grid;
	grid-template-columns: auto 1fr auto;
    width: 100%;
    background-color: blue;
}

.carousel__track-container {
	overflow: hidden;
	padding: 1rem;
	aspect-ratio: 1 / 1;
	background-color: red;
}

.carousel__track {
	display: flex;
	gap: 1rem;
	transition: transform 0.5s ease-in;
	height: 100%;
	background-color: green;
}

.carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	height: 100%;
	/* background gradient for testing */
	background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
}

/*
* Utilities
* *********/

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*
* Markdown CSS classes
* Used in the content markdown class.
* Use the ".md-" prefix to identify them.
* ***************************************/

.md-title {
    text-align: center;
}
