/*
* Main elements & Variables
* *************************/

html {
	font-size: 10px;

	--background-color: #ebebeb;
	--border-color: #3c3c3c;
	--text-color-primary: #3c3c3c;
	--text-color-secondary: #98979a;
}

body {
	min-height: 100dvh;
	background-color: var(--background-color);
}

/*
* Header & Navigation
* *******************/

.header {
	padding: 1rem;
	border-bottom: .2rem solid var(--border-color);
}

.header__nav {
	height: 8rem;
}

.header__nav img {
	display: block;
	height: 100%;
}

.header__nav ul {
	gap: 2rem;
}

.header__link {
	font-size: 2rem;
	font-weight: bold;
	color: var(--text-color--primary);
}

.header__link .es {
	font-size: 2.1rem;
}

.header__link .en {
	color: var(--text-color-secondary);
}

/*
* Home page
* *********/

.home__new-art-hero {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 0;
}

.home__new-art-hero li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

.home__new-art-hero li:nth-child(1) {
	grid-column: 1 / span 2;
}

.home__new_art_hero li:nth-child(2) {
	grid-column: 3;
}

.home__new-art-hero li:nth-child(3) {
	grid-column: 4;
}

.home__new-art-link {
	display: block;
	transition: transform 0.2s ease;
}

.home__new-art-link:hover {
	transform: scale(1.02);
}

/*
* Utilities
* *********/

.flex-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*
* Markdown CSS classes
* Used in the content markdown class.
* Use the ".md-" prefix to identify them.
* ***************************************/

.md-title {
	text-align: center;
}
