/*
* Main elements & Variables
* ****************************************** */

@font-face {
	font-family: "Paper Flowers";
	src: url("fonts/Paper Flowers.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Shantell Sans";
	src: url("fonts/ShantellSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

html {
	--font-family-heading: "Paper Flowers", cursive;
	--font-family-base: "Shantell Sans", sans-serif;
	--font-size-base: 9px;
	--background-color: #ebebeb;
	--border-color: #3c3c3c;
	--text-color-primary: #3c3c3c;
	--text-color-secondary: #98979a;

	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	background-color: var(--background-color);
}

body {
	min-height: 100dvh;
	background-color: var(--background-color);
	padding: 0 2rem 4rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
	font-weight: bold;
	font-size: calc(var(--font-size-base) * 3);
	line-height: 0.9;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: calc(var(--font-size-base) * 8);
}

h2 {
	font-size: calc(var(--font-size-base) * 5);
}

h3 {
	font-size: calc(var(--font-size-base) * 3);
}

h4,
h5,
h6 {
	font-size: calc(var(--font-size-base) * 1);
}

/*
* Header & Navigation
* ****************************************** */

.header {
	border-bottom: 0.2rem solid var(--border-color);
	padding: 2rem 1rem;
	margin-bottom: 6rem;
}

.header__nav {
	height: 10rem;
}

.header__nav img {
	display: block;
	height: 100%;
}

.header__nav ul {
	gap: 2rem;
}

.header__link {
	font-size: calc(var(--font-size-base) * 3);
	font-weight: bold;
	color: var(--text-color--primary);
}

.header__link span {
	line-height: 1;
}

/*
* Page Footer
* ****************************************** */

.home__footer {
	padding: 13rem 0 0 0;
	margin-top: 4rem;
	font-size: calc(var(--font-size-base) * 2);
	color: var(--text-color-secondary);
	text-align: center;
	background-image: url("../images/dulceilustra__pie-de-pagina.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}

/*
* Home Layout
* ****************************************** */

/* Home > Top: New Art Section */

.home__new-art {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	list-style: none;
	padding: 0;
}

.home__new-art li {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.home__new-art li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.home__new-art li:nth-child(1) {
	grid-column: 1 / span 2;
}

.home__new_art li:nth-child(2) {
	grid-column: 3;
}

.home__new-art li:nth-child(3) {
	grid-column: 4;
}

img.home__new-art_decoration {
	display: block;
	width: 16rem;
	height: auto;
	margin: 0;
	padding: 0 0 2rem 0;
}

.home__new-art_text {
	line-height: 1;
	text-align: center;
	padding: 0 2rem;
}

.home__new-art_text span {
	display: block;
	transform: scale(1);
	transition: transform 0.4s ease;
	white-space: nowrap;
}

.home__new-art_text span:hover {
	transform: scale(1.1);
}

.home__new-art_text span.es {
	font-size: calc(var(--font-size-base) * 5);
	font-family: var(--font-family-base);
	padding-top: 1rem;
}

.home__new-art_text span.en {
	font-size: calc(var(--font-size-base) * 5);
	text-transform: uppercase;
	margin-top: 0.5rem;
}

.home__gallery-link {
	gap: 6rem;
}

.home__gallery-link_item {
	display: block;
	transition: transform 0.1s ease;
}

.home__gallery-link_item:hover {
	transform: scale(1.04);
}

/* Home > Middle: Animation and Comics Section */

.home__animation-comics {
	margin: 0;
}

.home__animation_video {
	display: block;
	width: 100%;
	height: auto;
	max-width: 50%;
	max-height: 80vh;
	padding: 0 6rem 0 1rem;
}

.home__animation_comics {
	grid-column: 2;
}

.home__comics_title {
	font-family: var(--font-family-heading);
	font-size: 8rem;
	line-height: 0.8;
	font-weight: bold;
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-transform: uppercase;
	transform: rotate(-90deg);
}

.home__animation_comics_title .es {
	color: var(--text-color-primary);
}

.home__animation_comics_title .en {
	color: var(--text-color-secondary);
}

/* Home > Carousel of images */

.carousel {
	display: grid;
	grid-template-columns: auto 1fr auto;
	width: 100%;
}

.carousel__track-container {
	overflow: hidden;
	aspect-ratio: 293 / 435;
	max-height: 90vh;
}

.carousel__track {
	display: flex;
	transition: transform 0.5s ease-in;
	height: 100%;
}

.carousel__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	height: 100%;
}

.carousel__slide a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.carousel__slide img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	object-fit: contain;
}

.carousel__button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0.5rem;
}

/* Home > Bottom: Contact Section */

.home__contact-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

.home__contact-section {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	gap: 2rem;
	text-decoration: none;
}

.home__contact-section:hover .home__contact-image {
	transform: scale(1.04);
	transition: transform 0.1s;
}

.home__contact-section h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.home__contact-image {
	display: block;
	width: 100%;
	height: auto;
	max-height: calc(var(--font-size-base) * 40);
	object-fit: contain;
}

.home__social-media-list {
	gap: 2rem;
	padding: 0;
	margin: 0;
	height: 100%;
}

.home__social-media-list li {
	list-style: none;
}

.home__social-media-list li a {
	display: block;
	padding-left: 9rem;
	padding-top: 2rem;
	font-size: calc(var(--font-size-base) * 4);
	line-height: 1;
	color: var(--text-color-primary);
	text-decoration: none;
	background-image: url;
	background-position: center left;
	background-repeat: no-repeat;
	background-size: contain;
}

.home__social-media-list li a:hover {
	transform: scale(1.04);
	transition: transform 0.1s;
}

/* Instagram icon */
.home__social-media-list li.instagram a {
	background-image: url("icons/instagram.svg");
}

/* TikTok icon */
.home__social-media-list li.tiktok a {
	background-image: url("icons/tiktok.svg");
}

/* Pinterest icon */
.home__social-media-list li.pinterest a {
	background-image: url("icons/pinterest.svg");
}

/* Home > Gallery Gallery Gallery Gallery */

.home__gallery-gallery {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	margin: 0;
	font-family: var(--font-family-heading);
	font-size: calc(var(--font-size-base) * 14);
	line-height: 0.8;
	text-align: center;
	text-decoration: none;
}

.home__gallery-gallery span {
	transform: scaleY(1.2);
	transition: transform 0.2s ease;
}

.home__gallery-gallery span:hover {
	transform: scaleY(1);
}

/*
* Gallery Layout
* ****************************************** */

/* Gallery categories */

.gallery .categories {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 0 6rem 0;
	margin: 0 0 6rem 0;
	border-bottom: 0.2rem solid var(--border-color);
	transition: transform 0.2s ease;
}

.gallery .category {
	transform: scale(1);
	transition: transform 0.2s ease;
}

.gallery .category:hover {
	transform: scale(1.05);
}

.gallery .category a {
	display: block;
	text-decoration: none;
	padding: 0.5rem 0;
}

.gallery .category span.es {
	font-size: calc(var(--font-size-base) * 3.2);
	line-height: 1;
}

.gallery .category span.en {
	font-size: calc(var(--font-size-base) * 3);
	line-height: 1;
}

/* Gallery sections */

.gallery__section--digital-art,
.gallery__section--paintings {
	padding-bottom: 8rem;
	border-bottom: 0.2rem solid var(--border-color);
	margin-bottom: 8rem;
}

.gallery__section_info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	gap: 4rem;
	font-size: calc(var(--font-size-base) * 2);
	margin-bottom: 4rem;
	padding: 0 4rem;
}

.gallery__section_info> :nth-child(1) {
	grid-column: 1;
	grid-row: 1;
	text-align: right;
	font-size: calc(var(--font-size-base) * 6);
	line-height: 1;
	margin: 0;
	padding: 0;
}

.gallery__section_info> :nth-child(3) {
	grid-column: 2;
	grid-row: 1;
	font-size: calc(var(--font-size-base) * 6);
	line-height: 1;
	margin: 0;
	padding: 0;
}

.gallery__section_info> :nth-child(2) {
	grid-column: 1;
	grid-row: 2;
	text-align: right;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

.gallery__section_info> :nth-child(4) {
	grid-column: 2;
	grid-row: 2;
	color: var(--text-color-secondary);
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

.gallery__section_images {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	padding: 0 4rem;
	margin: 0;
}

.gallery__section_images li {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*
* Utilities
* ****************************************** */

.flex-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-column--start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-row--start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.es {
	font-size: 1em;
	color: var(--text-color-primary);
}

.en {
	font-size: 0.9em;
	color: var(--text-color-secondary);
}

/*
* Markdown CSS classes
* Used in the content markdown class.
* Use the ".md-" prefix to identify them.
* ***************************************/

.md-title {
	text-align: center;
}
