/*
* Main elements & Variables
* ****************************************** */
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

html {
    --font-size-base: 9px;
    --font-family-heading: "Modak", system-ui;
    --font-family-base:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif;

    --background-color: #ebebeb;
    --backdrop-color: rgba(235, 235, 235, 0.7);
    --border-color: #3c3c3c;

    --text-color-primary: #3c3c3c;
    --text-color-primary--light: #5c5c5c;
    --text-color-primary--lighter: #7c7c7c;

    --text-color-secondary: #98979a;
    --text-color-secondary--light: #b8b7b9;
    --text-color-secondary--lighter: #d8d7d8;

    --image-border-radius: 0.5rem;
    --image-size-preview: 26rem;

    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    background-color: var(--background-color);

    scroll-padding-top: 4rem;
}

body {
    position: relative;
    min-height: 100dvh;
    background-color: var(--background-color);

    scroll-padding-top: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-size-base) * 3);
    font-weight: 400;
    line-height: 0.9;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: calc(var(--font-size-base) * 8);
}

h2 {
    font-size: calc(var(--font-size-base) * 5);
}

h3 {
    font-size: calc(var(--font-size-base) * 3);
}

h4,
h5,
h6 {
    font-size: calc(var(--font-size-base) * 1);
}

p {
    line-height: 1.2;
    letter-spacing: 0.05em;
}

/*
* Main layout elements
* ****************************************** */

.main-container {
    position: relative;
    margin: 0 auto;
    padding: 0rem 4rem;
    max-width: 120rem;
}

#main-modal-container {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/*
* Header & Navigation
* ****************************************** */

.header {
    border-bottom: 0.2rem solid var(--border-color);
    padding: 2rem 0rem;
    margin-bottom: 4rem;
}

.header__logo {
    display: block;
    text-decoration: none;
    height: 9rem;
    transition: height 0.2s ease;
}

.header__logo:hover {
    height: 10rem;
}

.header__nav {
    height: 10rem;
}

.header__nav img {
    display: block;
    height: 100%;
}

.header__nav ul {
    gap: 2rem;
}

.header__link {
    font-size: calc(var(--font-size-base) * 2);
    color: var(--text-color--primary);
    font-weight: 600;
}

.header__link span {
    line-height: 1;
}

/*
* Page Footer
* ****************************************** */

.footer {
    padding: 13rem 0 0 0;
    margin: 0 4rem;
    font-size: calc(var(--font-size-base) * 2);
    color: var(--text-color-secondary);
    text-align: center;
    background-image: url("../images/dulceilustra__pie-de-pagina.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

/*
* Home Layout
* ****************************************** */

.home {
    min-height: 100dvh;
}

.home__section {
    margin: 0;
    margin-bottom: 6rem;
}

.home__section--top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.home__section--middle {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
}

.home__section--bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

/* Home > New Art */

.home__new-art--link {
    --new-art-font-size: 4.3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 2rem;

    text-decoration: none;
    background-image: url("../images/dulceilustra__estrellas.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: transform 0.1s;
    transform: scale(1);
}

.home__new-art--link:hover {
    transform: skew(-5deg) scale(1.05);
}

.home__new-art--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3rem;
    transform: scale(1);
}

.home__new-art--title .es {
    display: block;
    font-size: var(--new-art-font-size);
    text-shadow:
        0 calc(var(--new-art-font-size) * -1) 0 var(--text-color-primary--light),
        0 calc(var(--new-art-font-size) * -2) 0
            var(--text-color-primary--lighter);
    transition: text-shadow 0.1s;
}

.home__new-art--title .en {
    display: block;
    font-size: calc(var(--new-art-font-size) * 1.95);
    text-shadow:
        0 calc(var(--new-art-font-size) * 1.5) 0
            var(--text-color-secondary--light),
        0 calc(var(--new-art-font-size) * 3) 0
            var(--text-color-secondary--lighter);
    transition: text-shadow 0.1s;
}

.home__new-art--link:hover .home__new-art--title .es {
    text-shadow:
        0 calc(var(--new-art-font-size) * -1.2) 0 var(--text-color-primary),
        0 calc(var(--new-art-font-size) * -2.4) 0 var(--text-color-primary);
}

.home__new-art--link:hover .home__new-art--title .en {
    text-shadow:
        0 calc(var(--new-art-font-size) * 1.7) 0 var(--text-color-secondary),
        0 calc(var(--new-art-font-size) * 3.4) 0 var(--text-color-secondary);
}

.home__new-art--pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;
    padding: 0;
    margin: 0;
}

.home__new-art--pictures li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.home__new-art--pictures a {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: var(--image-size-preview);
}

.home__new-art--pictures img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    transform: scale(1);
    transition: transform 0.1s ease;
    z-index: 1;
    border-radius: var(--image-border-radius);
}

.home__new-art--pictures img:hover {
    z-index: 2;
    transform: scale(1.05);
}

/* Home > Animation */

.home__animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: var(--image-border-radius);
}

.home__animation video {
    width: 100%;
}

.home__comics {
    --comics-button-size: 3rem;

    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;

    /* Translate the element so that the carousel
	 * image aligns with the grid of the page. */
    transform: translateX(var(--comics-button-size));
}

.home__comics--title {
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;

    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
}

.home__comics--title span {
    display: block;
}

.home__comics--carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.carousel__button {
    width: var(--comics-button-size);
}

.carousel__button--left,
.carousel__button--right {
    width: 3rem;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    background: none;
    transform: scale(1);
    transition: transform 0.1s ease;
}

.carousel__button--left:hover,
.carousel__button--right:hover {
    transform: scale(1.2);
}

.carousel__button--right img {
    transform: rotate(180deg);
}

.carousel__track-container {
    overflow: hidden;
    aspect-ratio: 1080 / 1920;
    height: 100%;
    width: var(--image-size-preview);
    border-radius: var(--image-border-radius);
}

.carousel__track {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: max-content;
    transition: transform 0.3s ease;
}

.carousel__slide {
    width: var(--image-size-preview);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* Home > Bottom: Contact Section */

.home__contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.home__contact-section {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    gap: 2rem;
    text-decoration: none;
}

.home__contact-section:hover .home__contact-image {
    transform: scale(1.04);
    transition: transform 0.1s;
}

.home__contact-section h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home__contact-image {
    display: block;
    width: 100%;
    height: auto;
    max-height: calc(var(--font-size-base) * 40);
    object-fit: contain;
}

.home__social-media-list {
    gap: 2rem;
    padding: 0;
    margin: 0;
    height: 100%;
}

.home__social-media-item {
    list-style: none;
}

.home__social-media-item a {
    display: block;
    padding-left: 9rem;
    padding-top: 2rem;
    font-size: calc(var(--font-size-base) * 4);
    line-height: 1;
    color: var(--text-color-primary);
    text-decoration: none;
    background-image: url;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
}

.home__social-media-item a:hover {
    transform: scale(1.04);
    transition: transform 0.1s;
}

/* Instagram icon */
.home__social-media-item--instagram a {
    background-image: url("icons/instagram.svg");
}

/* TikTok icon */
.home__social-media-item--tiktok a {
    background-image: url("icons/tiktok.svg");
}

/* Pinterest icon */
.home__social-media-item--pinterest a {
    background-image: url("icons/pinterest.svg");
}

/* Home > Gallery Gallery Gallery Gallery */

.home__gallery-gallery {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 0;
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-size-base) * 14);
    line-height: 0.8;
    text-align: center;
    text-decoration: none;
    transform: scaleY(1);
    transition: transform 0.2s ease;
}

.home__gallery-gallery:hover {
    transform: scaleY(1.05);
    transition: transform 0.2s ease;
}

.home__gallery-gallery span {
    transform: scaleY(1.2);
    transition: transform 0.2s ease;
}

.home__gallery-gallery span:hover {
    transform: scaleY(1);
}

/*
* Gallery Layout
* ****************************************** */

/* Gallery categories */

.gallery__categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 6rem 0;
    margin: 0 0 6rem 0;
    border-bottom: 0.2rem solid var(--border-color);
    transition: transform 0.2s ease;
}

.gallery__category {
    transform: scale(1);
    transition: transform 0.2s ease;
}

.gallery__category:hover {
    transform: scale(1.05);
}

.gallery__category a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0;
}

.gallery__category span.es {
    font-size: calc(var(--font-size-base) * 3.2);
    line-height: 1;
}

.gallery__category span.en {
    font-size: calc(var(--font-size-base) * 3);
    line-height: 1;
}

/* Gallery sections */

.gallery__section--digital-art,
.gallery__section--paintings {
    padding-bottom: 8rem;
    border-bottom: 0.2rem solid var(--border-color);
    margin-bottom: 8rem;
}

.gallery__section-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 4rem;
    font-size: calc(var(--font-size-base) * 2);
    margin-bottom: 4rem;
    padding: 0 4rem;
}

.gallery__section-info > :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    font-size: calc(var(--font-size-base) * 6);
    line-height: 1;
    margin: 0;
    padding: 0;
}

.gallery__section-info > :nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    font-size: calc(var(--font-size-base) * 6);
    line-height: 1;
    margin: 0;
    padding: 0;
}

.gallery__section-info > :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.gallery__section-info > :nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    color: var(--text-color-secondary);
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.gallery__section-images {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 4rem;
    margin: 0;
}

.gallery__section-images li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Gallery modal (where image details are shown) */

#gallery__modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;

    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    box-sizing: border-box;
}

/*
* Gallery Item Layout
* ****************************************** */

.gallery-item-dialog {
    background-color: var(--backdrop-color);
}

.gallery-item {
    height: 100dvh;
    width: 96rem;
}

.gallery-item__header {
    width: 100%;
    height: 6rem;
    background: var(--background-color);
    border-bottom: 0.1rem solid var(--border-color);
    box-shadow: 0 1rem 2rem var(--background-color);
}

.gallery-item__close-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0rem;
    transition: all 0.2s ease;
}

.gallery-item__close-button .close-label {
    display: block;
    font-size: 2.4rem;
    text-transform: lowercase;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.gallery-item__close-button .close-icon {
    display: block;
    font-size: 4.2rem;
    color: var(--text-color-primary);
    transform: scale(1) rotate(0deg);
    transition: transform 0.2s ease;
}

.gallery-item__close-button:hover {
    gap: 3rem;
}

.gallery-item__close-button:hover .close-icon {
    transform: scale(1.2) rotate(90deg);
}

.gallery-item__close-button:hover .close-label {
    opacity: 1;
}

.gallery-item__content {
    padding: 2rem;
    height: calc(100% - 6rem);
    overflow-y: auto;
    padding-bottom: 6rem;
}

.gallery-item__content * {
    font-size: 2rem;
}

.gallery-item__content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/*
* Utilities
* ****************************************** */

.u-flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.u-flex-column--start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.u-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.u-flex-row--start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.es {
    color: var(--text-color-primary);
}

.en {
    color: var(--text-color-secondary);
}

/*
* Markdown CSS classes
* Used in the content markdown class.
* Use the ".md-" prefix to identify them.
* ***************************************/

.md-title {
    text-align: center;
}

.md-right {
    text-align: right;
}
