<div class="{{ containerClass }}">
    {% if showHeading %}
    <{{ headingTag }}>
        <span class="es">Redes Sociales</span>
        <span class="en">Social Media</span>
    </{{ headingTag }}>
    {% endif %}
    <ul>
        <li class="instagram">
            <a
                href="{{ site.social.instagram }}"
                target="_blank"
                rel="noopener"
            >
                @dulceilustra
            </a>
        </li>
        <li class="tiktok">
            <a
                href="{{ site.social.tiktok }}"
                target="_blank"
                rel="noopener"
            >
                @dulceilustra
            </a>
        </li>
        <li class="pinterest">
            <a
                href="{{ site.social.pinterest }}"
                target="_blank"
                rel="noopener"
            >
                @dulceilustra
            </a>
        </li>
    </ul>
</div>
