<div class="{{ containerClass }}">
    {% if showHeading %}
    <h2 class="social-media__heading">
        <span class="es">Redes Sociales</span>
        <span class="en">Social Media</span>
    </h2>
    {% endif %}
    <ul class="social-media__list">
        <li class="social-media__item instagram">
            <a
                class="social-media__link"
                href="{{ site.social.instagram }}"
                target="_blank"
                rel="noopener"
            >
                @dulceilustra
            </a>
        </li>
        <li class="social-media__item tiktok">
            <a
                class="social-media__link"
                href="{{ site.social.tiktok }}"
                target="_blank"
                rel="noopener"
            >
                @dulceilustra
            </a>
        </li>
        <li class="social-media__item pinterest">
            <a
                class="social-media__link"
                href="{{ site.social.pinterest }}"
                target="_blank"
                rel="noopener"
            >
                @dulceilustra
            </a>
        </li>
    </ul>
</div>
