---
layout: main
---

<main class="gallery">
	<nav class="categories">
		<!-- Category: Digital Art -->
		<div class="category flex-column--start">
			<span class="es">Arte Digital</span>
			<span class="en">Digital Art</span>
			{%- for item in collections.digitalArtLatest -%}
			<a href="#digital-art">
				<img src="{{ item.url }}{{ item.data.cover }}" alt="{{ item.data.title }} cover" />
			</a>
			{%- endfor -%}
		</div>

		<!-- Category: Paintings -->
		<div class="category flex-column--start">
			<span class="es">Pinturas</span>
			<span class="en">Paintings</span>
			{%- for item in collections.paintingsLatest -%}
			<a href="#paintings">
				<img src="{{ item.url }}{{ item.data.cover }}" alt="{{ item.data.title }} cover" />
			</a>
			{%- endfor -%}
		</div>

		<!-- Category: Drawings -->
		<div class="category flex-column--start">
			<span class="es">Dibujos</span>
			<span class="en">Drawings</span>
			{%- for item in collections.drawingsLatest -%}
			<a href="#drawings">
				<img src="{{ item.url }}{{ item.data.cover }}" alt="{{ item.data.title }} cover" />
			</a>
			{%- endfor -%}
		</div>
	</nav>

	<!-- ================================================================================ -->

	<div id="gallery__modal-wrapper">
		{{ content }}
	</div>

	<!-- ================================================================================ -->

	<!-- Section: Digital Art -->
	<section id="digital-art" class="gallery__section--digital-art">
		<div class="gallery__section_info">
			{{ digitalArtDescription | markdown }}
		</div>
		<ul class="gallery__section_images">
			{%- for item in collections.digitalArt -%}
			<li id="{{ item.urlHash }}">
				<a href="{{ item.url }}#{{ item.urlHash }}">
					<img src="{{ item.url }}{{ item.data.cover }}" alt="{{ item.data.title }} cover" />
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</section>

	<!-- Section: Paintings -->
	<section id="paintings" class="gallery__section--paintings">
		<div class="gallery__section_info">
			{{ paintingsDescription | markdown }}
		</div>
		<ul class="gallery__section_images">
			{%- for item in collections.paintings -%}
			<li id="{{ item.urlHash }}">
				<a href="{{ item.url }}#{{ item.urlHash }}">
					<img src="{{ item.url }}{{ item.data.cover }}" alt="{{ item.data.title }} cover" />
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</section>

	<!-- Section: Drawings -->
	<section id="drawings" class="gallery__section--drawings">
		<div class="gallery__section_info">
			{{ drawingsDescription | markdown }}
		</div>
		<ul class="gallery__section_images">
			{%- for item in collections.drawings -%}
			<li id="{{ item.urlHash }}">
				<a href="{{ item.url }}#{{ item.urlHash }}">
					<img src="{{ item.url }}{{ item.data.cover }}" alt="{{ item.data.title }} cover" />
				</a>
			</li>{%- endfor -%}
		</ul>
	</section>
</main>
