---
layout: layouts/main.html
---

<main class="gallery">
    <nav class="categories">
        <!-- Category: Digital Art -->
        <div class="category flex-column--start">
            <span class="es">Arte Digital</span>
            <span class="en">Digital Art</span>
            {%- for item in collections.digitalArtLatest -%}
            <a
                href="{{ item.url }}"
                onclick="handleArtClick(event, '{{ item.url }}')"
            >
                <img
                    src="{{ item.url }}{{ item.data.cover }}"
                    alt="{{ item.data.title }} cover"
                />
            </a>
            {%- endfor -%}
        </div>

        <!-- Category: Paintings -->
        <div class="category flex-column--start">
            <span class="es">Pinturas</span>
            <span class="en">Paintings</span>
            {%- for item in collections.paintingsLatest -%}
            <a
                href="{{ item.url }}"
                onclick="handleArtClick(event, '{{ item.url }}')"
            >
                <img
                    src="{{ item.url }}{{ item.data.cover }}"
                    alt="{{ item.data.title }} cover"
                />
            </a>
            {%- endfor -%}
        </div>

        <!-- Category: Drawings -->
        <div class="category flex-column--start">
            <span class="es">Dibujos</span>
            <span class="en">Drawings</span>
            {%- for item in collections.drawingsLatest -%}
            <a
                href="{{ item.url }}"
                onclick="handleArtClick(event, '{{ item.url }}')"
            >
                <img
                    src="{{ item.url }}{{ item.data.cover }}"
                    alt="{{ item.data.title }} cover"
                />
            </a>
            {%- endfor -%}
        </div>
    </nav>

	<!-- ---------------------------------------------------------- -->

	<!-- Section: Digital Art -->
    <section>
        {{ digitalArtDescription | markdown }}
        <ul>
            {%- for item in collections.digitalArt -%}
            <li>
                <a
                    href="{{ item.url }}"
                    onclick="handleArtClick(event, '{{ item.url }}')"
                >
                    <img
                        src="{{ item.url }}{{ item.data.cover }}"
                        alt="{{ item.data.title }} cover"
                    />
                </a>
            </li>
            {%- endfor -%}
        </ul>
    </section>

	<!-- Section: Paintings -->
	<section>
		{{ paintingsDescription | markdown }}
		<ul>
			{%- for item in collections.paintings -%}
			<li>
				<a
					href="{{ item.url }}"
					onclick="handleArtClick(event, '{{ item.url }}')"
				>
					<img
						src="{{ item.url }}{{ item.data.cover }}"
						alt="{{ item.data.title }} cover"
					/>
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</section>

	<!-- Section: Paintings -->
	<section>
		{{ drawingsDescription | markdown }}
		<ul>
			{%- for item in collections.drawings -%}
			<li>
				<a
					href="{{ item.url }}"
					onclick="handleArtClick(event, '{{ item.url }}')"
				>
					<img
						src="{{ item.url }}{{ item.data.cover }}"
						alt="{{ item.data.title }} cover"
					/>
				</a>
			</li>
			{%- endfor -%}
		</ul>
	</section>

    <div id="iframeContainer"></div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const hash = window.location.hash.substring(1);
        const urlFromHash = hash ? hash.replaceAll("__", "/") : null;

        const iframe = document.createElement("iframe");
        iframe.id = "inlineFrameExample";
        iframe.src = urlFromHash ? `${urlFromHash}` : "";
        iframe.style.width = "100%";
        iframe.style.height = "600px";

        const iframeContainer = document.getElementById("iframeContainer");
        iframeContainer.appendChild(iframe);
    });

    function handleArtClick(event, url) {
        event.preventDefault();
        const iframe = document.getElementById("inlineFrameExample");
        iframe.src = `${url}`;
        window.location.hash = url.replaceAll("/", "__");
    }
</script>
