---
layout: layouts/main.html
---

<main class="gallery">
    <ul>
        {%- for item in collections.digitalArt -%}
        <li>
            <a
                href="{{ item.url }}"
                onclick="handleArtClick(event, '{{ item.url }}')"
            >
                <span class="es">Arte Digital</span>
                <span class="en">Digital Art</span>
                <img
                    src="{{ item.url }}{{ item.data.cover }}"
                    alt="{{ item.data.title }} cover"
                />
            </a>
        </li>
        {%- endfor -%}
    </ul>

    <h1>Foo Section:</h1>
    <div style="background: #f0f0f0; padding: 1rem; margin-bottom: 2rem">
        {{ foo | markdown }}
    </div>

    <h1>Main Content:</h1>
    <div style="background: #e0e0ff; padding: 1rem; margin-bottom: 2rem">
        {{ content }}
    </div>

    <h1>Bar Section:</h1>
    <div style="background: #ffe0e0; padding: 1rem; margin-bottom: 2rem">
        {{ bar | markdown }}
    </div>

    <div id="iframeContainer"></div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const urlFromHash = window.location.hash.substring(1);

        const iframe = document.createElement("iframe");
        iframe.id = "inlineFrameExample";
        iframe.src = urlFromHash ? `${urlFromHash}` : "";
        iframe.style.width = "100%";
        iframe.style.height = "600px";

        const iframeContainer = document.getElementById("iframeContainer");
        iframeContainer.appendChild(iframe);
    });

    function handleArtClick(event, url) {
        event.preventDefault();
        const iframe = document.getElementById("inlineFrameExample");
		iframe.src = `${url}`;
        window.location.hash = url;
    }
</script>
