<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex, nofollow" />

		<link rel="stylesheet" href="/css/pico.min.css" />
		<link rel="stylesheet" href="/css/main.css" />

		<title>{{ title }}</title>
	</head>
	<body>
		<div class="container">
			<header>
				<nav>
					<a href="/">
						<img src="/assets/dulceilustra-signature.png" alt="@dulceilustra" />
					</a>
				</nav>
			</header>
			<main>
				{{ content }}
			</main>
		</div>
	</body>
</html>
